

.winter {
    background-color: #74AFBF;
}
.spring {
    background-color: #77C37C;
}
.fall {
    background-color: #CD9131;
}
.summer {
    background-color: #E5E55D;
}

#card {
    text-align: center;
    width: 1000px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    border-radius: 20px;

}

.cards {
    background-color: #dfd9d885;
}

/* .navbar {
    background-image: url("/vacation-app/");
} */