* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.winter {
    background-color: #74AFBF;
}
.spring {
    background-color: #77C37C;
}
.fall {
    background-color: #CD9131;
}
.summer {
    background-color: #E5E55D;
}

#card {
    text-align: center;
    width: 1000px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    border-radius: 20px;
}

#card > h1 {
    margin-bottom: 0px;
}
#card > p {
    margin-top: 0px;
}

.cards {
    background-color: #dfd9d885;
    height: 1000px;
}

.titlePhoto {
    margin-left: 25%;
    margin-right: 25%;
    width: 700px;
}

.navButton{
    margin-left: 90%;
}

.navbar {
    font-weight: 700;
}

.welcome {
    text-align: center;
}
